!4>id 

.container{   background-color:rgb(250,250,250);
1   height: 300px;
  
}
.dropdown{
  display:inline-block;
   float:right;}
.content3{    float:left;
     width:300px;
  
}

body{
   background-color:lightgrey;}
 
@media screen and (max-width:500px){img {     max-width: 100%; 
   width:auto;  }1      .content4 a> img {
    vertical-align:text-top;
    width:100% 
} 
   .content5 a> img {
    vertical-align:text-top; 
    width:100%;
} 
      
       
 .content5 a>h3{position:absolute; padding:0px; left:5px;}       
          
}
h1{
   color: rgb(250,0,0);
   text-align:center;


}
.content{
   margin:100px;
}
.content4{
 height:500px;
background-color:#006892;


}
.content5{
 height:500px;
 background-color:#e6e699;
 
 
}
.content4 >a{
  text-align:right;
  color:#e6e699;
  font-size:20px;
 padding:40px;
}
.content5 >a{
  text-align:left;
  color:red;
  font-size:20px;
  padding:40px;
   
}
.content4 img{
 float:left;
 height:400px;
 padding:35px;
}
.content5 img{
 float:right;
 height:400px;
   padding:35px;
}
