

9
.container{
   background-color:rgb(250,250,250);
   height: 300px;
  
}
.dropdown{
  display:inline-block;
   float:right;}
.content3{
    float:left;
     width:300px;
  
}

body{
   background-color:lightgrey;}
 
@media screen and (max-width:500px){img {     max-width: 100%; 
   width:auto;  }

1   .content4 a> h3 {
     text-align:left;
     font-weight:bold;
     position: absolute; 
     bottom: -720px; 
     left: 0; 
     width: 100%; 
} 
   .content5 a> img {
    vertical-align:text-top;
      
} 
   .content5 a>h3{bottom:-780px; }        
   
}
h1{
   color: rgb(250,0,0);
   text-align:center;


}
.content{
   margin:100px;
}
.content4{
 height:300px;
background-color:#006892;
text-align:center;

}
.content5{
 height:300px;
background-color:#e6e699;
text-align:left;
margin-top:20px;
}
.content4 >a{
  
  color:#e6e699;
  font-size:20px;
 padding:100px;
}
.content5 >a{
  
  color:red;
  font-size:20px;
  padding:100px;
   
}
.content4 img{
 float:left;
 height:300px;
}
.content5 img{
 float:right;
 height:200px;
   padding:15px;
}
