.container{
  background-color:black;
  height: 300px;
  
}


img{
   width:300px;
   height:300px;

}
@media screen and (max-width:500px){
img { 
    max-width: 100%; 
    height: auto; 
 }
}
h1{
  color: red;
  text-align:center;


}
.content{
 margin:100px;
}
